.dice {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.die {
  height: 115px;
  width: 115px;
  border-radius: var(--border-radius);
  border-color: red;
  font-size: 4.5rem;
  margin: 5px;
  background: var(--primary-glow);
}

.selected {
  border-color: green;
}
