.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 575px;
}

.leftSideOfGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.roll {
  background: var(--secondary-glow);
  width: 115px;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  border-color: white;
  padding: 5px;
  margin: 5px;
}

.scorecardHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.boldText {
  font-weight: 700;
}
