.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 575px;
}

.leftSideOfGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scorecardHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.boldText {
  font-weight: 700;
}
