.links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  width: min(90%, 800px);
  border: solid 1px hsl(0, 0%, 20%);
  background-color: hsla(246, 36%, 17%, 0.708);
  border-radius: 25px;
  height: 44px;
  pointer-events: auto;
  margin-left: auto auto;
}

.navLayout {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 24px 0px;
}

.link {
  list-style: none;
  cursor: pointer;
}

.link:hover {
  opacity: 80%;
}

.chosen {
  color: var(--primary-color);
  font-weight: bold;
}

.chosen:hover {
  opacity: 80%;
}

.link button {
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
}
